<div id="mainContent">
    <div id="cardContent">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="newcontactForm">
    <mat-card>
        <div id="cardHeader">
      <mat-card-header>
      <mat-card-title>New Contacts</mat-card-title>
      <mat-card-subtitle>Add a New Contact</mat-card-subtitle>
    </mat-card-header>
       </div>

    <mat-card-content>
        <div class="formInputs">
        <mat-form-field class="example-form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <mat-form-field class="example-form-field">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
    </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button id="cardbutton" [disabled]="contactForm.invalid" type="submit" color="primary">Create</button>
      <button mat-raised-button id="cardbutton" (click)="onCancel()" color="warn">Cancel</button>
    </mat-card-actions> 
  </mat-card>
</form>
</div>
</div>