<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-icon-button id="menuIcon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="title">Contacts Book</span>
  <a mat-button id="menuList" routerLink="/">Home</a>
  <a mat-button id="menuList" routerLink="/contacts">Contacts List</a>
  <a mat-button id="menuList" routerLink="/newcontact">New Contact</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="60">
    <div class="side-nav-items">
      <div>
        <a mat-button id="side-menuList" routerLink="/">Home</a>
      </div>
    <div>
      <a mat-button id="side-menuList" routerLink="/contacts">Contacts List</a>
    </div>
   <div>
    <a mat-button id="side-menuList" routerLink="/newcontact">New Contact</a>
   </div>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
